<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rewrite2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReportesEnMant"></activity>
        <activity android:name=".ReporteM" />
        <activity android:name=".VerReportesM" />
        <activity android:name=".inicioM" />
        <activity
            android:name=".DetallesFAQ"
            android:exported="true"
            android:label="@string/title_activity_detalles_faq"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AltaFAQCero"
            android:exported="true"
            android:label="@string/title_activity_alta_faqcero"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DarALtaFAQ"
            android:label="@string/title_activity_dar_alta_faq"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PublicaFAQ"
            android:exported="true"
            android:label="@string/title_activity_publica_faq"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RevisaFAQ"
            android:exported="true"
            android:label="@string/title_activity_revisa_faq"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AltasFAQ"
            android:exported="true"
            android:label="@string/title_activity_altas_faq"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AltaReporteMCero"
            android:exported="true"
            android:label="@string/title_activity_alta_reporte_mcero"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InicioFAQs"
            android:exported="true"
            android:label="@string/title_activity_inicio_faqs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditEnsayo"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EditLienzo"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ReporteEvento"
            android:exported="true"
            android:label="@string/title_activity_reporte_evento"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.ReporteEvento" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerReportesE"
            android:exported="true"
            android:label="@string/title_activity_ver_reportes_e"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VerReportesE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicioEventos"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.InicioEventos" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ensayo"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Lienzo"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AltaReporte"
            android:exported="true"
            android:label="@string/title_activity_alta_reporte"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.AltaReporte" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Registro" />
        <activity
            android:name=".Main"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>